#generic_list h1 {
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px solid #77d;
}

#generic_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#generic_list .list_line_even {
  background: #e0fefe;
}
#generic_list .list_line_odd {
  background: #c0f8f8;
}

#footer {
  border-top: 3px solid #77d;
}
